# Pandas & Manipulation de données
pandas>=2.0.0
numpy>=1.24.0

# Machine Learning
scikit-learn>=1.2.0
joblib

# Visualisation graphique
matplotlib>=3.7.0
seaborn>=0.12.0
plotnine>=0.12.0
plotly
dash
dash-bootstrap-components

# Outils de développement
ipykernel
jupyter
jupyter-cache
quarto

# Pour importer les datasets
kagglehub